body {
  font-family: Arial;
  background: #121212;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 420px;
  background: #1e1e2f;
  padding: 20px;
  border-radius: 10px;
}

.inputs, .filtros {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, button {
  padding: 8px;
}

button {
  cursor: pointer;
  background: #4CAF50;
  color: white;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #2c2c3e;
  margin: 5px 0;
  padding: 10px;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
    padding: 15px;
  }

  input, select, button {
    font-size: 14px;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  canvas {
    width: 100% !important;
  }
}